# If you want to use caddy outside of docker you need to define the CADDY_HOST environment variable
{
	debug
}

localhost {
	handle /api/* {
		reverse_proxy {env.CADDY_HOST}:8080
	}

	handle /oauth2/* {
		reverse_proxy {env.CADDY_HOST}:8080
	}

	@websockets {
		header Connection *Upgrade*
		header Upgrade websocket
	}
	reverse_proxy @websockets {env.CADDY_HOST}:4200
	handle {
		# Frontend
		reverse_proxy {env.CADDY_HOST}:4200
	}
}

idp.localhost {
	handle /.well-known/* {
		reverse_proxy {env.CADDY_HOST}:9000
	}
	handle /o/oauth2/* {
		reverse_proxy {env.CADDY_HOST}:9000
	}

	handle /o/connect/logout {
		reverse_proxy {env.CADDY_HOST}:9000
	}

	handle /userinfo {
		reverse_proxy {env.CADDY_HOST}:9000
	}

	handle /api/* {
		reverse_proxy {env.CADDY_HOST}:9000
	}

	@websockets {
		header Connection *Upgrade*
		header Upgrade websocket
	}
	reverse_proxy @websockets {env.CADDY_HOST}:4200
	handle {
		# Frontend
		reverse_proxy {env.CADDY_HOST}:4200
	}
}
